@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

body {
    font-size: 15px;
    line-height: 1.5em;
    margin: 0;
    color: #222;

}

a {
    text-decoration: none;
    color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}

input,
button,
textarea {
    outline: none;
}

button {
    cursor: pointer;
    outline: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* header */
header {
    background-color: #778beb;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

nav {
    /* margin: auto; */
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.logo {}

.logo img {
    filter: invert();
}

.gnb {
    display: flex;
    text-align: center;

}

.gnb li {}

.gnb li a {
    color: #fff;
    margin: 10px;
}

.sns {
    text-align: center;
}

.sns a {
    color: #fff;
    margin: 5px;
}

.gnb li a:hover,
.sns a:hover {
    color: #000;
}

.trigger {
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
    }

    nav {
        width: 100%;
        flex-direction: column;
        position: relative;
    }

    .logo {
        padding: 10px;
    }

    .gnb {
        flex-direction: column;
        border-top: 1px solid rgba(0, 0, 0, 0.123);
    }

    .gnb li {}

    .gnb li a {
        display: block;
        padding: 8px;
        margin: 0;
    }

    .sns {
        background-color: #546de5;
        padding: 8px;
    }

    .sns a {
        color: #222;
    }

    .gnb,
    .sns {
        display: none;
    }

    .trigger {
        /* border: 1px solid #000; */
        display: block;
        position: absolute;
        width: 25px;
        height: 15px;
        top: 15px;
        right: 15px;
    }

    .trigger span {
        background-color: #fff;
        height: 1px;
        /* display: inline-block; */
        position: absolute;
        width: 100%;
        transition: 0.3s;
    }

    .trigger span:nth-child(1) {
        top: 0;
    }

    .trigger span:nth-child(2) {
        top: 50%;
    }

    .trigger span:nth-child(3) {
        top: 100%;
    }

    .trigger.active span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }

    .trigger.active span:nth-child(2) {
        opacity: 0;
    }

    .trigger.active span:nth-child(3) {
        top: 50%;
        transform: rotate(-45deg);
    }
}
