@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Montserrat', 'Noto Sans KR', sans-serif;
}

body {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  color: #222;
  line-height: 1.5em;
  /* font-weight: normal;  font-weight: 400; */
  /* font-weight: 500; */
  /* font-weight: bold;    font-weight: 600; */
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
}

input,
button,
textarea {
  outline: none;
}

button {
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


/* Common CSS */
.inner {
  width: 1300px;
  margin: auto;
}

/* Header */
header {
  position: fixed;
  width: 100%;
}

.banner {
  background-color: #000;
  height: 40px;
  display: flex;
  align-items: center;
}

.lnb {
  width: 1300px;
  margin: auto;
  text-align: right;
}

.lnb a {
  color: #ddd;
  margin-right: 10px;
}

.lnb a:last-child {
  margin-right: 0;
}

.lnb a em {
  color: #bbb;
}

nav {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.logo {}

.gnb {
  display: flex;
}

.gnb li {}

.gnb li a {
  margin: 20px;
  color: #fff;
}

.gnb li a:hover {
  color: #333;
}

.gnb li a:last-child {
  margin-right: 0;
}

/* Intro */
.intro {
  height: 100vh;
  background: url(images/intro.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.intro .heading {
  color: #fff;
  text-align: center;
}

.intro .heading h1 {
  font-size: 70px;
  margin-bottom: 40px;
}

.intro .heading p {
  font-size: 22px;
  line-height: 1.5rem;
  padding: 0 100px;
}

/* About Section */
.about-content {
  /* border: 5px solid #000; */
  display: flex;
  padding: 100px 0;
}

.about-content div {
  padding: 30px;
}

.desc {
  text-align: center;
  flex: 3;
}

.desc h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.desc p {
  font-size: 16px;
  line-height: 1.7em;
}

.desc a {
  color: #000;
  font-weight: bold;
}

.desc a:hover {
  text-decoration: underline;
}

.photo {
  flex: 2;
}

.photo img {
  width: 100%;
  border-radius: 40% 60% 65% 35% / 40% 45% 55% 60%;
}